#searchBar {
    height: 59px;
    margin-left: 121px;
    padding: 25px;
    height: 59px;
}

#maincontent {
    background-color: white;
    margin-top: 19px;
    border: 1px solid;
    margin-bottom: 80px;
}