 body {
    /* background: url(../Images/164149768-chuck-norris-wallpapers.jpg); */
    background-repeat: no-repeat;
    background-size:  100%;
    /* background-color: black; */
} 
.initial {
    margin-top: 5%;
    text-align: center;
}
.wrapper {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: none;
}
#jokeSearch {
    align-items: flex-start;
}
.searchBar { 
    font-family: 'Barriecito', cursive;
    font-size: 40px; 
    border-color: #ef027d;
    border-width: 6px;
    text-transform: uppercase;
    text-align: center;
    font-weight:bold;
}
.searchButton, .suggestButton {
    min-height: 80px;
    width: 200px;
    background: rgb(251, 214, 8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 54px;
    text-align: center;
    display: inline-flex;
    justify-content: center;

    
}
.suggestButton {
    background: rgb(30, 129, 221);
}
.searchButton > button, .suggestButton > button {
    flex: 0.7;
    border: none;
}
.searchButton:hover, .suggestButton:hover {
	  background: linear-gradient(to bottom, #ef027d 25%, #ef027d 100%);
	  background-color: #68a54b;
}
.mainContent {
    margin-top: 6%;
    background-color: rgb(255, 251, 251);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    column-count: 2; 
    column-gap: 14px;
    padding: 24px;
}
.singleJoke {
    width: 100%;
    display: block;
    break-inside: avoid-column;
    background: white;
    box-shadow: inset 0px 4px 17px #f4e1e1;
    border-radius: 20px;
    font-size:large;
    
    
}
img {
    max-width: 100%;
}
.suggestedTerms {
    box-shadow: inset 0px 4px 17px rgb(220, 255, 22);
    border-radius: 20px;
    padding: 20px;
    background: rgb(245, 255, 245);
}
.centerHeader {
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-size: 25px;
    text-decoration: underline;
}
.suggestedContent {
    padding: 12px;
}
.singleSuggestion {
    text-transform: capitalize;
    /* width: 100px;
    height: 100px;
    background: rgb(255, 248, 30);
    border-radius: 50%;
    font-family: 'Alfa Slab One', cursive;
    font-size: large; */
    box-shadow: inset 0px 1px 0px 0px #9acc85;
    background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
    background-color: #74ad5a;
    border: 1px solid #3b6e22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
}

.singleSuggestion:hover {
    background: linear-gradient(to bottom, #ef027d 5%, #ef027d 100%);
    background-color: #68a54b;

}
.checkBoxes {
    box-shadow: inset 0px 4px 17px rgb(255, 251, 3);
    border-radius: 20px;
    background-color: rgb(245, 255, 245);
}
.selectAPI {
    margin-top: 14px;
    display: block;
}
.chuckNorrisJokes {
    color: red;
}
.generalJokes {
    color: blue;
}
.geekJokes {
    color: green;
}
.ronSwansonQuotes {
    color: brown;
}
.yoMommaJokes {
    color: purple;
}
.dadJokes {
    color: goldenrod;
}
.button {
    font-size: 30px;
    border-radius:50%;
    float: left;
    margin-right: 8px;
}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
p {
    color: rgb(255, 255, 255);
}
